<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Petition</title>
        <link rel="stylesheet" href="/style.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            <h1>Global petition against sodcasting</h1>

        </header>

        <main>
            {{{body}}}
        </main>

        <footer>
            <h3>Alpetition - The place for all your petitions</h1>
            <h6>Copyright © Alpetition 2020 All rights reserved.</h6>
        </footer>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    </body>
</html>
