<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Petition</title>
        <link rel="stylesheet" href="/style.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            <h1>Sign our petition to define the act of sodcasting a crime against humanity</h1>
        </header>

        {{{body}}}

        <footer>

        </footer>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    </body>
</html>
