<div id="login-container">
    {{#if error}}
        {{> error}}
    {{/if}}
    <h1>Log in</h1>
    <form method="post">
        <input type="text" name="email" placeholder="Email Address">
        <input type="password" name="password" placeholder="Password">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button type="submit" name="submit">Log in</button>
    </form>
    <p>Don't have an account yet? <a href="/register">Register here</a>.</p>
</div>
