<h1>Petition to do something important!!! Sign now!!!</h1>


<form method="post">
    <p id="message">{{message}}</p>
    <div id="name">
        <div class="name">
            <input type="text" name="first">
            <label for="first">First Name</label>
        </div>

        <div class="name">
            <input type="text" name="last">
            <label for="last">Last Name</label>
        </div>
    </div>

    <div id="signature-container">
        <input type="hidden" id=signature name="signature">
        <canvas id="canvas" width="300" height="100"></canvas>
        <label for="signature">Signature</label>
    </div>

    <input type="submit" name="submit" value="Submit">
</form>
