<div id="petition-container">

    <div id="sodcasting-container">

        <div class="sodcast-content">
            <h3>What is sodcasting?</h3>
            <iframe id="urbanDictionary"
                title="Sodcasting definition"
                width="600"
                height="450"
                src="https://www.urbandictionary.com/define.php?term=Sodcasting">
            </iframe>
        </div>

        <div class="sodcast-content">
            <h3>Sodcasting depicted in television</h3>
            <iframe id="youtube"
                width="600"
                height="400"
                src="https://www.youtube.com/embed/1X9OdvjVfD8"
                frameborder="0"
                gesture="media"
                allow="encrypted-media"
                allowfullscreen>
            </iframe>
        </div>
    </div>

    <div id="petition-content">
        <h2>Sign our petition to define the act of sodcasting a crime against humanity</h2>
        <img id="sign" src="/forbidden-sign.png">
        <p id="message">{{message}}</p>
        <!-- {{> error}} -->
        <div id="form-container">
            <form method="post">
                <!-- <div id="name">
                    <input type="text" name="first" placeholder="First name">
                    <input type="text" name="last" placeholder="Last name">
                </div> -->

                <div id="signature-container">
                    <input type="hidden" id=signature name="signature">
                    <canvas id="canvas" width="350" height="150"></canvas>
                </div>

                <!-- csurf -->
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <button type="submit" name="submit">Sign the petition</button>

            </form>
            <button type="button" name="reset"></button>
        </div>

    </div>
</div>

<script src="/petition.js"></script>
