<div id="petition-container">

    <div id="petition-content">
        <h2>Sign our petition to define the act of sodcasting a crime against humanity</h2>
        <img id="sign" src="/forbidden-sign.png">
        {{#if error}}
            {{> error}}
        {{/if}}
        <!-- {{> error}} -->
        <div id="form-container">
            <form method="post">
                <div id="signature-container">
                    <input type="hidden" id=signature name="signature">
                    <canvas id="canvas" width="350" height="150"></canvas>
                </div>

                <!-- csurf -->
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <button type="submit" name="submit">Sign the petition</button>

            </form>
            <button type="button" name="reset"></button>
        </div>

    </div>
</div>

<script src="/petition.js"></script>
