<img id="sign" src="/forbidden-sign.png">

<form method="post">
    <p id="message">{{message}}</p>
    <div id="name">
        <div class="name">
            <input type="text" name="first" placeholder="First name">
            <!-- <label for="first">First Name</label> -->
        </div>

        <div class="name">
            <input type="text" name="last" placeholder="Signature">
            <!-- <label for="last">Last Name</label> -->
        </div>
    </div>

    <div id="signature-container">
        <input type="hidden" id=signature name="signature">
        <canvas id="canvas" width="300" height="100"></canvas>
        <!-- <p>Sign here</p> -->
        <!-- <label for="signature">Signature</label> -->
    </div>

    <!-- csurf -->
    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    <button type="submit" name="button">Sign the petition</button>
    <button type="button" name="reset">Reset Field</button>
</form>

<script src="/petition.js"></script>
