<div id="profile-container">
    <form method="post">
        <input type="text" name="age" placeholder="Age">
        <input type="text" name="city" placeholder="City">
        <input type="text" name="url" placeholder="Homepage">

        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button type="submit" name="submit">Continue</button>
    </form>
</div>
