<div id="profile-container">
    <div id="profile-input">
        {{#if error}}
            {{> error}}
        {{/if}}
        <form id="profile-form" method="post">
            <div class="profile-input">
                <input type="text" name="age" placeholder="Age">
            </div>
            <div class="profile-input">
                <input id="autocomplete"
                placeholder="Enter your city"
                name="city"
                type="text"
                autocomplete="off">
            </div>

            <div class="profile-input">
                <input type="text" name="url" placeholder="Homepage">
            </div>

            <input type="hidden" id="coord-input" name="coord">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button type="submit" name="submit">Continue</button>
        </form>
    </div>

    <div id="map-container">
        <div id="map"></div>
    </div>
</div>


<script src="/map_profile.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{apiKey}}&libraries=places&callback=initAutocomplete" async defer></script>
