<div id="registration-container">
    {{#if error}}
        {{> error}}
    {{/if}}
    <h1>Register</h1>
    <form id="register" method="post">
        <input type="text" name="first" placeholder="First name">
        <input type="text" name="last" placeholder="Last name">
        <input type="text" name="email" placeholder="Email Address">
        <input type="password" name="password" placeholder="Password">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button type="submit" name="submit">Register</button>
    </form>
    <p>Already registered? <a href="./login">Log in here</a>.</p>
</div>
