<div id="registration-container">
    <p id="message">{{message}}</p>
    <form id="register" method="post">
        <input type="text" name="first" placeholder="First name">
        <input type="text" name="last" placeholder="Last name">
        <input type="text" name="email" placeholder="Email Address">
        <input type="password" name="password" placeholder="Password">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button type="submit" name="submit">Register</button>
    </form>
    <p>Already a member? Continue to the <a href="./login">log in page</a>.</p>
</div>
