<div id="thanks-container">
    <h1>Thank you for signing our petition!</h1>

    <img id="sigPic" src="{{signature}}">

    <a href="/signers">See all {{numSigs}} signers</a>
    <!-- <a href="/profile/edit">Edit your profile</a> -->

    <form action="/thanks/delete" method="post">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button type="submit" name="submit">Delete your signature</button>
    </form>

    <!-- <form action="/deleteaccount" method="post">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button type="submit" name="submit">Delete your account</button>
    </form> -->
</div>
