* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    height: 100%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #272343;
    width: 100vw;
}

header h1 {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}

footer {
    /* height: 50px; */
    width: 100vw;
    background-color: #272343;
    padding: 10px 50px;
    color: #ffffff;
}

/* Petition page */
#petition-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100vw;
    justify-content:flex-start;
}

#sodcasting-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #e3f6f5;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.sodcast-content {
    margin-top: 10px;
    margin-bottom: 10px;
}

iframe {
    /* border: 1px solid black; */
    padding-top: -30px;
}

img#sign {
    height: 400px;
    width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#petition-content {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

#petition-content h2 {
    width: 360px;
    word-wrap: break-word;
}

#form-container {
    margin-left: 25px;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    align-content:space-around;

}

canvas {
    border: solid 1px grey;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 176px;
    padding: 5px;
    border: solid grey 1px;
    font-size: 14px;
}

#form-container input[name="first"] {
    border-top-left-radius: 5px;
}

#form-container input[name="last"] {
    border-left: 0;
    border-top-right-radius: 5px;
}

#form-container button[type="submit"] {
    width: 352px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: solid grey 1px;
    border-top: 0;
    font-size: 14px;
    padding: 5px;
    background-color: #272343;
    color: #ffffff;
}

#form-container button[name="reset"] {
    margin-left: 5px;
    margin-top: 100px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #bae8e8;
    background-image: url("/refresh-white.png");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    border: none;
    box-shadow: 0 2px 5px 2px grey;
}

button:focus {
    outline: 0;
}


#signature-container {
    /* margin-top: 10px; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

#name {
    display: flex;
    align-items: center;
}

p#message {
    height: 20px;
    color: #c02739;
    margin-left: 18px;
}

/* Signers page */
#sigPic {
    width: 350px;
    height: 150px;
    border: dashed 2px black;
}
