* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

button:hover {
    cursor: pointer;
}

body {
    margin: 0;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    height: 100%;
}

main {
    display: flex;
    flex: 1;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a2d5f2;
    width: 100vw;
}

header h1 {
    font-family: 'Raleway', sans-serif;
    color: #fafafa;
}

#nav-container {
    display: flex;
    justify-content: center;
}

.nav-link {
    margin: 3px 10px;
}

.nav-link a {
    color: #fafafa;
    text-decoration: none;
}

.nav-link a:hover{
    color: #07689f;
}

footer {
    /* height: 50px; */
    width: 100vw;
    background-color: #a2d5f2;
    padding: 10px 50px;
    color: #fafafa;
}

footer h6 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #07689f;
}


/* Petition page */
#petition-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
    align-items: center;
}

#sodcasting-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.sodcast-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ff7e67;
    text-align: center;
}

.sodcast-content h3 {
    color: #07689f;
}

.sodcast-content a:hover {
    color: #a2d5f2;
}

iframe {
    border: 0;
    padding-top: -30px;
}

img#sign {
    height: 400px;
    width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
}

#petition-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ff7e67;
    padding: 5px;
}

#petition-content h2 {
    width: 360px;
    word-wrap: break-word;
    text-align: center;
}

#form-container {
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    align-content:space-around;
    margin-left: 55px;
}

canvas {
    border: solid 1px lightgrey;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #fafafa;
}

canvas:hover {
    background-color: white;
    border: solid 1px #07689f;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 176px;
    padding: 5px;
    border: solid lightgrey 1px;
    font-size: 14px;
}

#form-container button[type="submit"] {
    width: 352px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: solid grey 1px;
    border-top: 0;
    font-size: 14px;
    padding: 5px;
    background-color: #07689f;
    color: #ffffff;
}

#form-container button[type="submit"]:hover {
    background-color: #a2d5f2;
    border: solid 1px #a2d5f2;
}

#form-container button[name="reset"] {
    margin-left: 5px;
    margin-top: 100px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #07689f;
    background-image: url("/refresh-white.png");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    border: none;
    box-shadow: 0 2px 5px 2px grey;
}

#form-container button[name="reset"]:hover {
    background-color: #a2d5f2;
}

button:focus {
    outline: 0;
}

#signature-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#name {
    display: flex;
    align-items: center;
}

p#message {
    height: 20px;
    color: #c02739 !important;

}

/* Signers page */
#signers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

/* thanks page */
#thanks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#thanks-container a {
    color: #07689f;
}

#thanks-container a:hover {
    color: #a2d5f2;
}

#thanks-container h1 {
    color: #ff7e67;
}

#thanks-container button {
    background-color: #fafafa;
    color: #07689f;
    border: 0;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-top: 10px;
}

#thanks-container button:hover {
    color: #a2d5f2;
}

#sigPic {
    width: 350px;
    height: 150px;
    border: dashed 2px #07689f;
    margin-bottom: 30px;
}

#registration-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#registration-container h1 {
    color: #ff7e67;
}

#registration-container p {
    color: #07689f;
}

#registration-container a:hover {
    color: #a2d5f2;
}

#registration-container input {
    border-bottom: 0;
}

#registration-container input[name="first"] {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#registration-container button {
    width: 176px;
    padding: 5px;
    background-color: #07689f;
    border: solid 1px lightgrey;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fafafa;
}

#registration-container button:hover {
    background-color: #a2d5f2;
    border: solid 1px #a2d5f2;
}

/* ----- */
#login-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-container h1 {
    color: #ff7e67;
}

#login-container p {
    color: #07689f;
}

#login-container a:hover {
    color: #a2d5f2;
}

#login-container input {
    border-bottom: 0;
}

#login-container input[name="email"] {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#login-container button {
    width: 176px;
    padding: 5px;
    background-color: #07689f;
    border: solid 1px lightgrey;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fafafa;
}

#login-container button:hover {
    background-color: #a2d5f2;
    border: solid 1px #a2d5f2;
}

#profile-container {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#profile-input {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.profile-input input {
    border-bottom: 0;
}

.profile-input input[name="age"] {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#profile-input button {
    width: 176px;
    padding: 5px;
    background-color: #07689f;
    border: solid 1px lightgrey;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fafafa;
}

#profile-input button:hover {
    background-color: #a2d5f2;
    border: solid 1px #a2d5f2;
}

#edit-container {
    display: flex;
    margin-top: 50px;
}

#edit-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 50px;
}

#edit-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 50px;
}

.edit-input {
    display: flex;
}

.edit-input input {
    border-bottom: 0;
}

.edit-input input[name="first"] {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.edit-input label {
    width: 120px;
    padding: 5px;
    font-size: 14px;
}

#edit-form button {
    margin-left: 120px;
    width: 176px;
    padding: 5px;
    background-color: #07689f;
    border: solid 1px lightgrey;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fafafa;
}

#edit-form button:hover {
    background-color: #a2d5f2;
    border: solid 1px #a2d5f2;
}

#delete-account {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#delete-button {
    text-align: left;
    background-color: #fafafa;
    color: #ff7e67;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

#delete-button:hover {
    color: #c02739;
}

#map-container {
    display: flex;
    height: 400px;
    width: 600px;
}

#map {
    height: 100%;
    width: 100%;
}

#signers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#signers-container h1 {
    color: #ff7e67;
}

#signers-container a {
    color: #07689f;
}

#signers-container a:hover {
    color: #a2d5f2;
}
